<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <title>Schema Explorer</title>
</head>
<body>
<div class="all">
  <div class="header header1">
    <ul>
      <li><a href="https://memri.io">
        <div class="logo"></div>
      </a></li>
      <li><a href="https://memri.io/index.html#installation">Installation</a></li>
      <li><a href="https://memri.io/index.html#contributing">Contributing</a></li>
      <li><a href="https://memri.io/index.html#docs">Docs</a></li>
      <li><a href="https://blog.memri.io" target="_blank">Blog</a></li>
      <li><a href="https://discourse.memri.io" target="_blank">Forum</a></li>
      <li><a class="navbar-img" href="https://gitlab.memri.io"><img src="images/gitlab-icon-rgb.svg"
                                                                    style="max-width:40px;width:100%"></a></li>
    </ul>
  </div>
  <div class="content">
    {{{body}}}
  </div>
  <div class="footer">
    <div class="section">
      <strong>This website</strong>
      <ul>
        <li><a href="https://memri.io/index.html#installation">Installation</a></li>
        <li><a href="https://memri.io/index.html#contributing">Contributing</a></li>
        <li><a href="https://memri.io/index.html#docs">Docs</a></li>
        <li><a href="https://memri.io/overview.html">Overview</a></li>
        <li><a href="https://memri.io/privacy.html">Privacy & Security</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>Repositories</strong>
      <ul>
        <li><a target="_blank" href="https://gitlab.memri.io/memri/pod">Personal Online Datastore (pod)</a></li>
        <li><a target="_blank" href="https://gitlab.memri.io/memri/ios-application">MacOS and iOS client</a></li>
        <li><a target="_blank" href="https://gitlab.memri.io/memri/browser-application">Browser based client</a></li>
        <li><a target="_blank" href="https://gitlab.memri.io/memri/downloaders">Downloaders</a></li>
        <li><a target="_blank" href="https://gitlab.memri.io/memri/indexers">Indexers</a></li>
        <li><a target="_blank" href="https://gitlab.memri.io/memri/schema">Schema</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>Documentation</strong>
      <ul>
        <li><a href="https://blog.memri.io" target="_blank">Blog</a></li>
        <li><a target="_blank" href="https://blog.memri.io/ghost/#/editor/post/5ed69186aff7363005b0170a">CVU Tutorial
          Series</a></li>
        <li><a target="_blank" href="https://blog.memri.io/ghost/#/editor/post/5ef47f34aff7363005b02c24">Downloader
          Tutorial</a></li>
        <li><a target="_blank" href="https://blog.memri.io/ghost/#/editor/post/5ed69186aff7363005b0170a">Indexer
          Tutorial</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>Discussion</strong>
      <ul>
        <li><a href="https://discourse.memri.io">Forum</a></li>
        <li><a href="https://discourse.memri.io/t/memri-privacy-preserving-license/31">MPPL License</a></li>
        <li><a href="https://discourse.memri.io/t/privacy-by-design/30">Privacy-by-design</a></li>
        <li><a href="https://discourse.memri.io/t/request-testflight-access-for-the-ios-app/29">Request access</a></li>
        <li><a href="https://discourse.memri.io/t/a-place-to-say-hi-to-the-memri-community/27">Say Hi!</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>About</strong>
      <ul>
        <li><a href="https://memri.io/team.html">Team</a></li>
        <li><a href="https://memri.io/governance.html">Democratic Governance</a></li>
        <li><a href="https://memri.io/license.html">MPPL License</a></li>
      </ul>
    </div>

  </div>
</body>
</html>