<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-bash.min.js"
    type="text/javascript"></script>
  <title>Memri, truly yours — developer community</title>
</head>

<body>
<script src="prism.js"></script>
<div class="all">
  <div class="header header1">
    <div class="gitlab">
      <a class="navbar-img" href="https://gitlab.memri.io/memri">
        <img alt="Memri GitLab" src="/images/gitlab-icon-rgb.svg" style="max-width:40px;width:100%">
      </a>
    </div>
    <ul>
      <li>
        <a href="https://memri.io">
          <div class="logo"></div>
        </a>
      </li>
      <li><a href="index.html#installation">Installation</a></li>
      <li><a href="index.html#contributing">Contributing</a></li>
      <li><a href="index.html#docs">Docs</a></li>
      <li><a href="https://blog.memri.io" target="_blank">Blog</a></li>
      <li><a href="https://discourse.memri.io" target="_blank">Forum</a></li>
      <li><a href="screenshots.html">Screenshots</a></li>
    </ul>
  </div>
  <div class="header">
    <div class="title">
      <p class="desc">Empowering you by unlocking the potential of your data</p>
    </div>
  </div>
  <div class="content">
    <a href="/"><h1>The Memri Schema</h1></a>
    {{{body}}}
  </div>
  <div class="footer">
    <div class="section">
      <strong>This website</strong>
      <ul>
        <li><a href="index.html#installation">Installation</a></li>
        <li><a href="index.html#contributing">Contributing</a></li>
        <li><a href="index.html#docs">Docs</a></li>
        <li><a href="overview.html">Overview</a></li>
        <li><a href="privacy.html">Privacy & Security</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>Repositories</strong>
      <ul>
        <li><a href="https://gitlab.memri.io/memri/pod" target="_blank">Personal Online Datastore (Pod)</a></li>
        <li><a href="https://gitlab.memri.io/memri/ios-application" target="_blank">macOS and iOS client</a></li>
        <li><a href="https://gitlab.memri.io/memri/browser-application" target="_blank">Browser based client</a></li>
        <li><a href="https://gitlab.memri.io/memri/pyIntegrators" target="_blank">pyIntegrators</a></li>
        <li><a href="https://gitlab.memri.io/memri/rustIntegrators" target="_blank">rustIntegrators</a></li>
        <li><a href="https://gitlab.memri.io/memri/nodeIntegrators  m " target="_blank">nodeIntegrators</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>Documentation</strong>
      <ul>
        <li><a href="https://blog.memri.io/cvu-language-part-1/" target="_blank">CVU Tutorial Series</a></li>
        <li><a href="https://gitlab.memri.io/memri/memri/-/wikis/home" target="_blank">Wiki</a></li>
        <li><a href="https://gitlab.memri.io/memri/memri/-/wikis/Roadmap" target="_blank">Roadmap</a></li>
        <li><a href="http://docs.memri.io/" target="_blank">IOS Reference Guide</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>Discussion</strong>
      <ul>
        <li><a href="https://discourse.memri.io" target="_blank">Forum</a></li>
        <li><a href="https://discourse.memri.io/t/memri-privacy-preserving-license/42" target="_blank">MPPL License</a></li>
        <li><a href="https://discourse.memri.io/t/privacy-by-design/39" target="_blank">Privacy-by-design</a></li>
        <li><a href="https://discourse.memri.io/t/apply-for-alpha-access-to-the-ios-app-on-testflight/45" target="_blank">Request
          access </a></li>
        <li><a href="https://discourse.memri.io/t/a-place-to-say-hi-to-the-memri-community/41" target="_blank">Say Hi!</a></li>
      </ul>
    </div>
    <div class="section">
      <strong>About</strong>
      <ul>
        <li><a href="team.html">Team</a></li>
        <li><a href="license.html">MPPL License</a></li>
        <li><a href="https://blog.polis.global" target="_blank">Memri is incubated at Polis</a></li>
        <li><a href="https://twitter.com/YourMemri" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
</body>

</html>





<!--<html>-->
<!--<head>-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>-->
<!--  <link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
<!--  <title>Schema Explorer</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="all">-->
<!--  <div class="warning"><strong>Warning!</strong> Memri is not yet ready for production use</div>-->
<!--  <div class="header header1">-->
<!--    <div class="gitlab"><a class="navbar-img" href="https://gitlab.memri.io/memri"><img-->
<!--      src="/images/gitlab-icon-rgb.svg"-->
<!--      style="max-width:40px;width:100%"></a></div>-->
<!--    <ul>-->
<!--      <li><a href="https://memri.io">-->
<!--        <div class="logo"></div>-->
<!--      </a></li>-->
<!--      <li><a href="https://memri.io/index.html#installation">Installation</a></li>-->
<!--      <li><a href="https://memri.io/index.html#contributing">Contributing</a></li>-->
<!--      <li><a href="https://memri.io/index.html#docs">Docs</a></li>-->
<!--      <li><a href="https://blog.memri.io" target="_blank">Blog</a></li>-->
<!--      <li><a href="https://discourse.memri.io" target="_blank">Forum</a></li>-->
<!--      <li><a href="screenshots.html">Screenshots</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="content">-->
<!--    <a href="/"><h1>The Memri Schema</h1></a>-->
<!--    {{{body}}}-->
<!--  </div>-->
<!--  <div class="footer">-->
<!--    <div class="section">-->
<!--      <strong>This website</strong>-->
<!--      <ul>-->
<!--        <li><a href="https://memri.io/index.html#installation">Installation</a></li>-->
<!--        <li><a href="https://memri.io/index.html#contributing">Contributing</a></li>-->
<!--        <li><a href="https://memri.io/index.html#docs">Docs</a></li>-->
<!--        <li><a href="https://memri.io/overview.html">Overview</a></li>-->
<!--        <li><a href="https://memri.io/privacy.html">Privacy & Security</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="section">-->
<!--      <strong>Repositories</strong>-->
<!--      <ul>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/pod">Personal Online Datastore (pod)</a></li>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/ios-application">MacOS and iOS client</a></li>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/browser-application">Browser based client</a></li>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/downloaders">Downloaders</a></li>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/indexers">Indexers</a></li>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/schema">Schema</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="section">-->
<!--      <strong>Documentation</strong>-->
<!--      <ul>-->
<!--        <li><a target="_blank" href="https://blog.memri.io/cvu-language-part-1/">CVU Tutorial Series</a></li>-->
<!--        <li><a target="_blank" href="https://blog.memri.io/tutorial-creating-a-downloader/">Downloader Tutorial</a></li>-->
<!--        <li><a target="_blank" href="https://blog.memri.io/tutorial-creating-an-indexer/">Indexer Tutorial</a></li>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/memri/-/wikis/home">Wiki</a></li>-->
<!--        <li><a target="_blank" href="https://gitlab.memri.io/memri/memri/-/wikis/Roadmap">Roadmap</a></li>-->
<!--        <li><a target="_blank" href="http://docs.memri.io/">IOS Reference Guide</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="section">-->
<!--      <strong>Discussion</strong>-->
<!--      <ul>-->
<!--        <li><a target="_blank" href="https://discourse.memri.io">Forum</a></li>-->
<!--        <li><a target="_blank" href="https://discourse.memri.io/t/memri-privacy-preserving-license/42">MPPL License</a>-->
<!--        </li>-->
<!--        <li><a target="_blank" href="https://discourse.memri.io/t/privacy-by-design/39">Privacy-by-design</a></li>-->
<!--        <li><a target="_blank"-->
<!--               href="https://discourse.memri.io/t/apply-for-alpha-access-to-the-ios-app-on-testflight/45">Request-->
<!--          access</a></li>-->
<!--        <li><a target="_blank" href="https://discourse.memri.io/t/a-place-to-say-hi-to-the-memri-community/41">Say-->
<!--          Hi!</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="section">-->
<!--      <strong>About</strong>-->
<!--      <ul>-->
<!--        <li><a href="https://memri.io/team.html">Team</a></li>-->
<!--        <li><a href="https://memri.io/license.html">MPPL License</a></li>-->
<!--        <li><a href="https://blog.polis.global" target="_blank">Memri is incubated at Polis</a></li>-->
<!--        <li><a href="https://twitter.com/YourMemri" target="_blank">Twitter</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</body>-->
<!--</html>-->