<h1>The Memri Schema</h1>
<p>
  This is the Schema used by Memri, dictating how information is stored in the database on your Pod.
</p>

<h4>Item hierarchy</h4>
<p>
  The <a href="/thing">Item hierarchy</a> dictates how types of nodes are related. For instance, to find all
  <i>ImageObjects</i> and <i>VideoObjects</i> related to some Item, we can query them using their parent Item type
  <i>MediaObject</i>.
</p>

<h4>Edge &#38; Property hierarchy</h4>
<p>
  The <a href="/predicate">Edge and Property hierarchy</a> dictates how types of edges and properties are related. For
  instance, to find all family members of an item of type <i>Person</i>, all edges that are of the <i>familyRelation</i>
  type can be queried, retrieving all its children in the edge and property hierarchy, including <i>mothers</i>,
  <i>fathers</i>, <i>sisters</i>, etc.
</p>
