body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.all {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.alpha-access {
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    font-size: 20px !important;
    background-color: rgba(89, 89, 165, 0.8);
    border: 1px solid rgb(212, 214, 218) !important;
    border-radius: 3em;
}

.alpha-access a {
    color: rgb(250, 250, 250);
    text-decoration: none; /* no underline */
}

.header {
    flex-basis: 130px;
    background-color: rgb(249, 250, 251);
    border-bottom-color: rgba(229, 231, 235, 1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
}

.header1 {
    border-bottom: 0 !important;
}

.logo {
    height: 130px;
    width: 250px;
    background-image: url("/images/logo-purple.png");
    background-size: 600px;
    background-position-x: -190px;
    background-position-y: -103px;
    /* border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
    margin-top: -50px;
}


.inline-img {
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header ul {
    display: inline-block;
    vertical-align: top;
    /* float: right; */
    /* margin-right: 100px; */
}

.header ul li {
    display: inline-block;
    font-family: Arial, serif;
    font-size: 17px;
    margin: 35px 20px 0 20px;
}

.header ul li a {
    color: #555;
    text-decoration: none;
}

.header ul li a.active {
    font-weight: bold;
}

.navbar-img {
    vertical-align: middle
}

.content {
    min-height: calc(100% - 300px);
    margin: 0 auto;
    max-width: 920px;
    padding-top: 38px;
    padding-bottom: 38px;
    font-family: Arial, serif;
    line-height: 1.5em;
    color: rgb(55, 65, 81);
}

.info {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 37px;
    margin: 100px -37px -37px;
}

pre {
    border-radius: 10px;
    background: #f6f6ff !important;
    color: #333 !important;
    font-size: 14px !important;
    border: 1px solid #e8e8f1 !important;
}

h1 {
    color: rgb(0, 0, 0);
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 30px;
}

h2 {
    font-size: 22px;
    margin-top: 30px;
}

h3 {
    font-size: 16px;
    margin-top: 30px;
}

.title {
    max-width: 620px;
    padding: 0 0 38px 0;
    font-family: Arial, serif;
    line-height: 1.5em;
    width: 50%;
    margin: 0 auto;
}

.dev-journey a {
    --text-opacity: 1;
    color: #3f83f8;
    color: rgba(63, 131, 248, var(--text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 75ms;
    text-decoration: none;
}

.desc {
    font-size: 30px;
    line-height: 1.2em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.desc4 {
    font-size: 25px;
    line-height: 1.2em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.desc3 {
    font-size: 60px;
    line-height: 1.2em;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
}

.desc2 {
    margin-top: 50px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.8em;
    max-width: 500px;
}

.info h1 {
    color: #f0f0ff;
    font-size: 36px;
    margin: 13px 0 27px 0;
}

.info p {
    font-size: 18px;
    line-height: 1.5em;
    max-width: 800px;
}

.info a {
    color: #cfd0ea;
    text-decoration: none;
}

.info .notice {
    font-size: 14px;
}

form {
    margin: 0;
    padding: 0 0 10px 0;
}

.textbox {
    font-size: 29px;
    color: #444;
    padding: 10px 20px 15px 20px;
    border-radius: 10px;
    border: 0;
    margin: 10px 12px 0 0;
}

.footer {
    background: #5959ad;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.footer ul {
    vertical-align: top;
    max-width: 930px;
    margin: 0;
    padding: 0;
}

.footer ul li {
    font-family: Arial, serif;
    font-size: 14px;
    white-space: nowrap;
    list-style-type: none;
    padding: 10px 0 0 0;
}

.footer ul li a {
    color: #c6c6e2;
    text-decoration: none;
    font-weight: 100;
}

.footer ul li a.active {
    font-weight: bold;
}

button {
    font-size: 37px;
    padding: 15px 20px 20px;
    vertical-align: top;
    border: 0;
    border-radius: 10px;
    margin: 10px 0 0 0;
    color: white;
    background-color: #a9b736;
    cursor: pointer;
    box-shadow: 2px 2px 8px #00000063;
}

.section {
    margin: 20px;
}

.section strong {
    font-family: Arial, serif;
    color: #ababd6;
    font-size: 15px;
    font-variant-caps: all-small-caps;
    display: block;
    margin-bottom: 10px;
    font-weight: 100;
}